<div class="max-w-7xl mx-auto py-12">
  <div class="bg-white rounded-2xl shadow-xl p-8">
    <div class="flex justify-between items-center mb-6">
      <div>
        <h2 class="text-3xl font-bold text-green-900 mb-2">Manage Payslips</h2>
        <p class="text-gray-600 text-lg">View company payslips</p>
      </div>
      <%= link_to "Create New Payslip", new_payslip_path, class: "bg-green-950 text-white px-6 py-2 rounded-md font-semibold hover:bg-green-900" %>
    </div>
    
    <div class="text-center py-12">
      <p class="text-gray-500">No payslips yet.</p>
    </div>
  </div>
</div>
