envVars:
  - key: DATABASE_URL
    sync: false
  - key: RAILS_ENV
    value: production
  - key: SECRET_KEY_BASE
    sync: false
  - key: RAILS_MASTER_KEY
    sync: false
  - key: RAILS_LOG_TO_STDOUT
    value: enabled
  - key: RAILS_SERVE_STATIC_FILES
    value: enabled
