<div class="max-w-7xl mx-auto py-12">
  <%= render 'payslips/payslips_management_card', 
      payslips: @payslips,
      show_create_button: false,
      search_path: my_payslips_path,
      title: "My Payslips" %>
</div>